.App {
  text-align: center;
}

header {
  height: 10vh;
  background-color: #2196f3;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
